table{
    width: 80%;
    align-self: center;
}

tr{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
    min-height: 50px;
    border-bottom: thin solid gray;
    width: 100%;
}

td{
    margin-top: 10px;
}

tr:nth-child(5) > td{
    text-align: left;
    padding-top: 0;
}

li{
    text-align: left !important;
}

ul{
    list-style: disc !important;
    padding-left: 10px;
}

ol{
    text-align: left !important;
}

.tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  button {
    background: #5dff85;
    border: 0;
    color: white;
    border-radius: 2px;
    margin-top: 15px;
    font-weight: 600;
    border: 1px solid #00ff4c;
    transition: all .3s ease-out;
    height: 40%;
  }
  
  button:hover {
    cursor: pointer;
    background: white;
    color: #5dff85;
  }
  